@charset "UTF-8";
/* - Seção de apresentação - */

#portfolio {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: #034c8c;
}
.port-content {
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  display: flex;
}
.side-port {
  background: #012340;
  padding: 25rem 2rem;
  margin: 0;
  height: 100%;
  width: 66.6%;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#btn-videos {
  border-radius: 50px;
  padding: 30px 120px;
  background: #f20544;
  color: white;
  font-weight: 700;
  border: none;
  letter-spacing: 1.5px;
  font-size: 28px;
  font-family: "Inter", "sans-serif";
  margin-bottom: 1em;
}
#btn-dev {
  border-radius: 50px;
  padding: 30px 57px;
  background: #f20544;
  border: none;
  color: white;
  font-weight: 700;
  letter-spacing: 1.5px;
  font-size: 28px;
  font-family: "Inter", "sans-serif";
}
#btn-dev:hover {
  transition: 0.5s;
  background: #8c2656;
}
#btn-dev:not(hover) {
  transition: 0.5s;
  background: #f20544;
}
#btn-videos:hover {
  transition: 0.5s;
  background: #8c2656;
}
#btn-videos:not(hover) {
  transition: 0.5s;
  background: #f20544;
}
.side-port h2 {
  color: white;
  font-weight: 800;
  letter-spacing: 1.5px;
  font-size: 55px;
  font-family: "Inter", "sans-serif";
  margin-bottom: 1em;
}

.port-itens {
  padding: 0;
  margin: 0;
  margin-left: 5%;
  height: 100%;
  width: 100%;
}

.videos {
  text-align: center;
  display: grid;
  grid-template-areas:
    "item item"
    "item item";
  margin-right: 3em;
  grid-gap: 30px;
}
.dev {
  margin-right: 3em;
  text-align: center;
  display: none;
  grid-template-areas:
    "item item"
    "item item";
  grid-gap: 20px;
}

.videos img,
.dev img {
  overflow: hidden;
  color: rgba(240, 248, 255, 0);
  width: 480px;
  height: 290px;
  object-fit: cover;
  border: #012340 solid 6px;
  grid-area: "item";
  background: #012340;
  border-radius: 50px;
}
.cover-button {
  display: inline-block;
  position: relative;

}
.cover-background {
  overflow: hidden;
  position: absolute;

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  opacity: 0;
  transition: 0.5s ease-in-out;
  background-color: #111a3a9d;
}
.cover-text {
  color: white;
  font-size: 30px;
  font-family: "inter", "Sans-serif";
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.videos img:hover {
  width: 530px;
  transition: 0.5s;
  border: #f20544 solid 6px;
}
.dev img:hover {
  transition: 0.5s;
  border: #f20544 solid 6px;
}
.cover-background:hover {
  opacity: 1;
  transition: 0.5s;
}
.videos :not(:hover) {
  transition: 0.5s;
}
.dev :not(:hover) {
  transition: 0.5s;
}
@media (max-width: 1520px) {
  .videos img,
  .dev img {
    width: 400px;
    height: 210px;

  }
  .videos img:hover {
    width: 450px;
  }
}
@media (max-width: 1335px) and (min-width:1200px) {
  .videos img,
  .dev img {
    width: 320px;
    height: 190px;

  }
  .videos img:hover {
    width: 390px;
    height: 200px;
  }
}
@media (max-width: 1200px) {
  .videos img,
  .dev img {
    width: 420px;
    height: 230px;
  }
  .port-content {
    flex-direction: column;
  }
  .side-btns {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  #btn-videos {
    font-size: 26px;
    padding: 20px 83px;
    margin-bottom: 0;
    margin-right: 1em;
  }
  #btn-dev {
    font-size: 26px;
    padding: 20px 20px;
  }
  .side-port {
    padding: 1rem 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-bottom: 3rem;
  }
  .videos img:hover {
    width: 420px;
    height: 260px;
  }
}
@media (max-width: 945px) {
  .videos img,
  .dev img {
    width: 350px;
    height: 240px;
  }
}
@media (max-width: 795px) {
  .videos img,
  .dev img {
    width: 300px;
    height: 200px;
  }
  .videos,
  .dev{
   margin-bottom: 4rem;
  }
  .videos img:hover {
    width: 300px;
    height: 260px;
  }
}
@media (max-width: 695px) {
  .videos img,
  .dev img {
    width: 250px;
    height: 150px;
  }
  .videos,
  .dev{
   margin-bottom: 10rem;
  }
}

@media (max-width: 591px) {
  .videos img,
  .dev img {
    width: 230px;
    height: 160px;
  }
  .videos img:hover {
    width: 230px;
    height: 260px;
  }
  .videos,
  .dev{
   margin-bottom: 7rem;
  }
  .side-port h2 {
    font-size: 32px;
  }
  #btn-videos {
    font-size: 20px;
    padding: 20px 70px;
    margin-bottom: 0;
    margin-right: 0.5em;
  }
  #btn-dev {
    font-size: 20px;
    padding: 20px 10px;
  }
  .side-port {
    padding: 1rem 100%;
    padding-top: 7rem;
    padding-bottom: 6.5rem;
    margin-bottom: 10rem;
  }
}
@media (max-width: 555px) {
  .videos img,
  .dev img {
    width: 210px;
    height: 170px;
  }
  .videos,
  .dev{
   margin-bottom: 7rem;
  }
}
@media (max-width: 500px) {
  .videos img,
  .dev img {
    width: 170px;
    height: 180px;
  }
  .videos,
  .dev{
   margin-bottom: 7rem;
  }
}
@media (max-width:420px) {
  .videos img,
  .dev img {
    width: 130px;
    height: 190px;
  }
  .videos,
  .dev{
   margin-bottom: 7rem;
  }
  .videos img:hover {
    width: 130px;
    height: 220px;
  }
}
@media (max-width: 440px) {
  #btn-videos {
    font-size: 16px;
    padding: 20px 53px;
    margin-bottom: 0;
    margin-right: 0.5em;
  }
  #btn-dev {
    font-size: 16px;
    padding: 20px 8px;
  }
}
@media (max-width: 350px) {
  .videos img,
  .dev img {
    width: 110px;
    height: 190px;
  }
  .videos,
  .dev{
   margin-bottom: 7rem;
  }
  #btn-videos {
    font-size: 13px;
    padding: 20px 35px;
    margin-bottom: 0;
    margin-right: 0.5em;
  }
  #btn-dev {
    font-size: 13px;
    padding: 20px 5px;
  }
}
