@charset "UTF-8";
#aboutme {
  min-height: 110vh;
  display: flex;
  overflow: hidden;
  background: #011826;
}
.aboutme-adjust {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.aboutme-draw img {
  width: 600px;
  margin-top: 25%;
  margin-right: 50px;
}
.aboutme-text {
  width: 900px;
}

.aboutme-text {
  flex-wrap: wrap;
}
.aboutme-text h2 {
  font-family: "Inter", "Sans-serif";
  color: #f20544;
  text-align: left;
  font-size: 60px;
  letter-spacing: 1.5px;
  font-weight: 600;
  font-family: "inter", "sans-serif";
  margin-top: 2.3em;
  margin-bottom: 8px;
}
.aboutme-text p {
  text-align: left;
  color: white;
  font-size: 24px;
  letter-spacing: 1.5px;
  font-weight: 400;
  font-family: "inter", "sans-serif";
  margin-bottom: 1em;
  width: 800px;
}

.aboutme-text hr {
  margin-left: 0;
  margin-right: auto;
  display: inline-block;
  width: 95%;
  border: 0;
  border-top: 3px solid #f20544;

  margin-bottom: 1em;
}
.skills{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
}
.skills ul{
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    align-items:center;
    width: 40%;
    list-style: none
}
.skills img{
    width: 55px;
}
#html-icon:hover{
    transition: 0.4s;
    width: 65px;
}
#html-icon:not(hover){
    transition: 0.4s;
    width: 55px;
}
#css-icon:hover{
    transition: 0.4s;
    width: 65px;
}
#css-icon:not(hover){
    transition: 0.4s;
    width: 55px;
}
#premiere-icon:hover{
    transition: 0.4s;
    width: 65px;
}
#premiere-icon:not(hover){
    transition: 0.4s;
    width: 55px;
}
#after-icon:hover{
    transition: 0.4s;
    width: 65px;
}
#after-icon:not(hover){
    transition: 0.4s;
    width: 55px;
}

@media (max-width: 1565px) {
  .aboutme-draw img {
    width: 400px;
    margin-top: 25%;
  }
  
  
}
@media (max-width: 1364px) {
  .aboutme-draw img {
    width: 400px;
    margin-top: 25%;
    margin-left: 10%;
    margin-bottom: 40px;
  }
  .aboutme-adjust {
    width: 30%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .aboutme-text h2 {
    text-align: center;
    margin: auto;
    width: auto;
  }
  .aboutme-text p {
    margin: auto;
    text-align: justify;
  }
  .aboutme-text hr {
    margin-left: 0;
    width: 100%;
  }
  #aboutme {
    padding-bottom: 5em;
  }
}

@media (max-width: 845px) {
  .aboutme-text h2 {
    font-size: 45px;
  }
  .aboutme-text {
    width: 700px;
  }
  .aboutme-text p {
    font-size: 20px;
    width: 30em;
  }
}
@media (max-width: 670px) {
    .skills ul{
        width: 40%;
    }
  .aboutme-text h2 {
    font-size: 40px;
  }
  .aboutme-text {
    width: 700px;
  }
  .aboutme-text p {
    width: 30em;
  }
}
@media (max-width: 633px) {
    .skills ul{
        width: 70%;
    }
  .aboutme-draw img {
    width: 300px;
  }
  .aboutme-text {
    width: 500px;
  }
  .aboutme-text p {
    width: 20em;
  }
}
@media (max-width: 420px) {
    .skills ul{
        width: 80%;
    }
  .aboutme-draw img {
    width: 300px;
  }
  .aboutme-text {
    width: 300px;
  }
  .aboutme-text p {
    width: 15em;
  }
}
@media (max-width: 350px) {
  .skills ul{
      width: 100%;
  }
.aboutme-draw img {
  width: 250px;
}
.aboutme-text {
  width: 300px;
}
.aboutme-text p {
  width: 12em;
}
}
